/* Welcome.css */

/* Estilos para el contenedor principal */
.welcome-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  

  
  /* Estilos para el contenido principal */
  .main-content {
    padding: 20px;
  }
  .infoApp{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para el pie de página (si es necesario) */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  /* Estilos para el contenido del footer */
.footer-content {
    max-width: 960px;
    margin: 0 auto;
  }

/*Custom Button*/
.custom-button {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #021020;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(152, 23, 23, 0.1); 
    transition: transform 0.2s ease;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
    background-color: #293071;

  }
  
  .custom-button:active {
    transform: scale(0.9);
  }
   /* About Welcome */
   .about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   .aboutInfo{
    width: 60%;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }